body {
  font-family: Arial, sans-serif;
  background-image: url("images/mag1.png");
  background-color: #222;
  color: white;
  display: flex;
  background-size: cover;
  background-position: center 40%;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h3 {
  color: rgb(160, 155, 155);
}
.card {
  background-color: #333;
  opacity: 0.9;
  padding: 20px;
  border-radius: 10px;
  width: 750px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background: #444;
  padding: 10px;
  border-radius: 5px;
}
.header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.section {
  margin-top: 15px;
  padding: 10px;
  background: #444;
  border-radius: 5px;
}
button {
  background-color: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}
a {
  color: #f1f1f1; /* Kolor tekstu linku */
  text-decoration: none; /* Usunięcie podkreślenia */
  font-size: 16px;
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Płynne przejście zmian */
}
a:hover {
  color: #ecec33; /* Zmiana koloru tekstu na niebieski */
  text-shadow: 0 0 10px rgb(239, 221, 22); /* Dodanie efektu świecenia */
}
input {
  margin-top: 5px;
  padding: 5px;
  width: 80%;
}
